.App {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

a.adminLink {
  font-size: 1em;
  justify-self: right;
}

.carGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin: 2em;
}

.buttons{
  display: flex;
  justify-content: space-between;
}